/* *,
::after,
::before {
  border: 1px solid red;
} */
/* Global css */
* {
  margin: 0px;
  padding: 0px;
}
button {
  cursor: pointer;
}
li {
  cursor: pointer;
}
:root {
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-color-text: #cac6dd;
  --Stock-linear: linear-gradient(90deg, #090edb, #e73dc4);
  --button-secondary: linear-gradient(90deg, #ffe1e14d, #ffffff1d);
}
body {
  font-family: "Aeonik Regular";
  background-color: #0c0a14;
  background-image: url("../assests/images/background-m.png");
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--font-color-text);
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mx-auto {
  margin: 0px auto;
}
.font-sora {
  font-family: Sora;
}
.font-inter {
  font-family: Inter;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
img {
  width: 100%;
  height: 100%;
}
.inherit-width {
  width: inherit;
}
.inline {
  display: inline-block;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff !important;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.text-sm {
  font-size: 14px;
}
.text-lg {
  font-size: 20px;
}
.text-xl {
  font-size: 24px;
}
.text-xxl {
  font-size: 40px;
}
.text-xxxl {
  font-size: 60px;
}
.vector-container {
  max-width: 1320px;
  margin: 0px auto;
  padding: 0px auto;
}
.font-primary {
  color: #cad1e9;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.span-block {
  display: block;
}
.gap-24 {
  gap: 24px;
}
.line-140 {
  line-height: 140%;
}
.gap-16 {
  gap: 16px;
}
.cursor-pointer {
  cursor: pointer;
}
/* text gradiant effect */
.text-gradient {
  background: linear-gradient(90deg, #cad1e9, #4349ff 73.37%, #f33cc0 13.43%);
  transition: background-position 1s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1000% 100%;
  background-position: left;
}
.text-gradient-two {
  background: linear-gradient(88deg, #090edb -15.78%, #e73dc4 102.06%);
  background-size: 160% 100%;
  transition: background-position 1s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: left;
}
.text-gradient:hover {
  background-position: right;
}
/* border */
.text-hover-border {
  position: relative;
  text-decoration: none;
}
.text-hover-border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(
    90deg,
    var(--font-color-text) 0%,
    var(--font-color-text) 100%
  );
  transition: width 0.5s ease;
}
.text-hover-border:hover::after {
  width: 100%;
}
/* navbar */
.nav {
  margin: 20px 58.5px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(15, 12, 23, 0.14);
}
.nav-logo {
  font-family: "Source Code Pro";
  font-weight: 700;
  letter-spacing: -0.27px;
}
.nav-left {
  gap: 8px;
  cursor: pointer;
}
.nav-middle {
  gap: 24px;
}
.responsive-navbar {
  display: none;
  background-color: #0c0a14;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 100%;
  width: 90%;
}

.responsive-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.responsive-navbar li {
  font-size: 16px;
  padding: 12px 0;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.responsive-navbar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: inline-block;
}
#toggleButton {
  font-size: 20px;
  background: none;
  color: white;
  border: none;
}
.primary-button {
  position: relative;
  background: #0c0a14;
  border: 1px solid var(--Stock-linear);
  color: #cad1e9;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.2) inset;
  padding: 10px 20px;
  border-radius: 12px;
  background-clip: padding-box;
  gap: 2px;
  transition: box-shadow 0.3s ease-in;
  background-image: linear-gradient(to right, #ffffff14, #ffffff01);
}
.primary-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, #090edb, #8d1ea2);
}
.primary-button:hover {
  box-shadow: -4px 0 10px 3px rgba(9, 14, 219, 0.4),
    4px 0 10px 3px rgba(141, 30, 162, 0.4);
}
/* hero section */
.hero-top-button {
  padding: 5px 16.5px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.2) inset,
    0px 4px 50px 0px rgba(159, 100, 239, 0.4);
  border-radius: 30px;
}
.hero-title {
  line-height: 120%;
  background: linear-gradient(
    180deg,
    #f33cc0 13.43%,
    #4349ff 73.37%,
    #f33cc0 13.43%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
  transition: background-position 0.8s ease-in-out;
  background-size: 100% 164%;
  background-position: top;
}

.hero-title:hover {
  background-position: bottom;
}
.hero-dsc {
  line-height: 140%;
  margin-bottom: 32px;
  padding: 0px 60px;
}
.title-line {
  bottom: -7.5%;
  right: 24%;
  animation: revealImage 5s infinite;
}

@keyframes revealImage {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  25% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
  50% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
  75% {
    clip-path: inset(0 0 0 100%);
    opacity: 1;
  }
  100% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
}
.button-secondary {
  background: linear-gradient(90deg, #090edb 8.8%, #da24bb 84.38%);
  border: 1px solid var(--button-secondary);
  transition: box-shadow 0.3s ease-in;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.2) inset;
  padding: 10.5px 20px;
  border-radius: 12px;
}
.button-secondary::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, #ffe1e14d, #ffffff1d);
}
.special-gradiant {
  background: rgba(12, 10, 20, 0.6);
  background-image: linear-gradient(
    80deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );
}
.special-gradiant-two {
  background: rgba(12, 10, 20, 0.9);
  background-image: linear-gradient(
    80deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );
}
.special-gradiant::after {
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
}
.special-gradiant-two::after {
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
}
.hero-button-container {
  gap: 16px;
  margin-bottom: 50px;
}
.logo-container {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0px 0px 0px 1px #2d2e48;
  padding: 7px 8.636px 8.636px 7px;
  margin-right: 16px;
}
.logo-title-two {
  line-height: 20px; /* 125% */
  letter-spacing: -0.5px;
}
.icon-container {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: linear-gradient(
    137deg,
    rgba(27, 28, 54, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
  padding: 12px;
}
.icon-title-gap {
  gap: 4px;
}
.title-container {
  padding: 68px 168px 100px 168px;
}
.logo-image-div {
  padding-bottom: 115px;
  padding-top: 85px;
  width: 28%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg) translate(250px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(250px) rotate(-360deg);
  }
}

.one,
.two,
.three,
.four {
  animation: spin 50s linear infinite;
  transform-origin: center center;
}

.one {
  transform: rotate(0deg) translate(100px) rotate(0deg);
}

.two {
  transform: rotate(90deg) translate(100px) rotate(-90deg);
}

.three {
  transform: rotate(180deg) translate(100px) rotate(-180deg);
}

.four {
  transform: rotate(270deg) translate(100px) rotate(-270deg);
}
.one {
  animation-delay: 0s;
}

.two {
  animation-delay: -12.5s;
}

.three {
  animation-delay: -25s;
}

.four {
  animation-delay: -37.5s;
}
.padding-fix {
  padding: 2px;
}
.circle {
  border: 1px solid #cac6dd;
  border-radius: 100%;
  opacity: 0.1;
  z-index: -1;
}
.planet {
  position: absolute;
  border-radius: 100%;
}
/* Specific sizes and positions for backgrounds */
.first {
  height: 125%;
  width: 100%;
  top: -2%;
  left: 0;
  opacity: 0.05;
}
.second {
  height: 103%;
  width: 85%;
  top: 8%;
  left: 7%;
}
.third {
  height: 83%;
  width: 67%;
  top: 19%;
  left: 16%;
}
.fourth {
  height: 60%;
  width: 48%;
  top: 31%;
  left: 26%;
}
.fifth {
  height: 36%;
  width: 27%;
  top: 42%;
  left: 36%;
}

/* Planet specific sizes, positions, and gradients */
.first-planet {
  height: 16px;
  width: 16px;
  top: 21%;
  left: 1.5%;
  background: linear-gradient(180deg, #dd734f 0%, #1a1a32 100%);
}
.second-planet {
  height: 24px;
  width: 24px;
  top: 59%;
  left: -1%;
  background: linear-gradient(180deg, #88e5be 0%, #1a1a32 100%);
}
.third-planet {
  height: 12px;
  width: 12px;
  top: 41%;
  left: 12.5%;
  background: linear-gradient(180deg, #b9aedf 0%, #1a1a32 100%);
}
.fourth-planet {
  height: 24px;
  width: 24px;
  top: 41%;
  right: 1%;
  background: linear-gradient(180deg, #88e5be 0%, #1a1a32 100%);
}
.fifth-planet {
  height: 8px;
  width: 8px;
  top: 6%;
  right: 3.5%;
  background: linear-gradient(180deg, #dd734f 0%, #1a1a32 100%);
}
.svg-container-two {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 30%;
  z-index: -1;
  border-radius: 20px;
}

.svg-container-two::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at 20% 20%,
      rgba(24, 160, 251, 0.5),
      transparent 60%
    ),
    radial-gradient(circle at 30% 10%, rgba(242, 55, 31, 0.5), transparent 60%),
    radial-gradient(circle at 50% 20%, rgba(238, 70, 211, 0.5), transparent 60%),
    radial-gradient(circle at 40% 90%, rgba(0, 0, 255, 0.5), transparent 60%);
  background-blend-mode: color-dodge;
  mix-blend-mode: color-dodge;
  filter: blur(198px);
  z-index: -1;
}
/* service section */
.service-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.service-tile {
  line-height: 120%;
  margin: 8px 0px 16px 0px;
}
.span-gradient {
  background: linear-gradient(87deg, #090edb 24.27%, #8d1ea2 87.36%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-dsc {
  line-height: 140%;
  margin: 16px 0px 40px 0px;
}
.service-card {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  position: relative;
  padding: 32px;
  border-radius: 32px 64px 32px 32px;
  background: #0c0a14;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(60deg, #090edba8, #e73dc4a8 70%, #ff57c1a8 100%);
  padding: 2px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background-size: 200% 200%;
  transition: background 0.5s ease;
}

.card:hover::after {
  animation: light-sweep 1.5s infinite;
}

.card-logo-contaier {
  border-radius: 13px;
  background: var(
    --Linear-2,
    linear-gradient(143deg, #0a0fdb -10.56%, #8d00a6 111.87%)
  );
  padding: 10px;
  width: max-content;
}
.card-title {
  font-size: 28px;
  line-height: 120%;
  margin-top: 28px;
}
.card-dsc {
  line-height: 140%;
  margin: 10px 0px 24px 0px;
}
.explore-padding {
  margin: 10px 6px;
}
.card-gradiant {
  width: 20%;
  height: 20%;
  background: linear-gradient(128deg, #0f1eff, #0064ff);
  filter: blur(60px);
  opacity: 0.4;
  mix-blend-mode: color-dodge;
  border-radius: 121px;
  top: 85px;
  left: 168px;
  z-index: 1;
  transition: width 0.4s ease, height 0.4s ease;
}
.card:hover .card-gradiant {
  width: 45%;
  height: 45%;
}
/* why choose us section */
.row-card-container {
  margin-top: 40px;
  gap: 40px;
}
.row-card {
  border-radius: 20px;
  border: 1.2px solid #101132;
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.16) 25.25%,
    rgba(83, 84, 108, 0.16) 98.05%
  );
  padding: 40px;
  gap: 139px;
  z-index: -1;
}
.row-card-left {
  gap: 20px;
  width: 55%;
}
.row-card-right {
  width: 43%;
}
.scroll-bar {
  position: relative;
  width: 2.4px;
  height: 100%;
}
.scroll-bar::before {
  content: "";
  position: absolute;
  width: 3px;
  top: 0;
  bottom: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: -5;
  filter: blur(4px);
  background: rgba(30, 33, 233, 1);
}

/* Pseudo-element for the blur effect */
.scroll-bar::after {
  content: "";
  position: absolute;
  width: 3px;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: -5;
  background: linear-gradient(
    to bottom,
    rgba(54, 57, 255, 0.5),
    rgba(54, 57, 255, 0.5),
    rgba(54, 57, 255, 0.5),
    rgba(108, 85, 255, 0),
    rgba(99, 101, 255, 0)
  );
}
.scroll-icon {
  background: #1e21e9;
  padding: 6.5px 8px;
  border-radius: 100%;
}
.row-card-title {
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 42px;
}
.box-one {
  width: 395.779px;
  height: 277.612px;
  border-radius: 12px;
  border: 0.809px solid #2d2e48;
  background: linear-gradient(
    100deg,
    rgba(0, 132, 255, 0.16) 7%,
    rgba(255, 171, 144, 0.16) 48.55%,
    rgba(253, 138, 200, 0.16) 101.86%
  );
  right: 0;
}
.box-two {
  border-radius: 12px;
  border: 0.809px solid #2c2d47;
  background: linear-gradient(
    216deg,
    rgba(27, 28, 54, 0.16) 15.37%,
    rgba(0, 0, 11, 0.16) 99.03%
  );
  background-image: linear-gradient(
    100deg,
    rgba(0, 132, 255, 0.16) 7%,
    rgba(255, 171, 144, 0.16) 48.55%,
    rgba(253, 138, 200, 0.16) 101.86%
  );
  width: 395.779px;
  height: 277.612px;
  top: 11%;
  left: 10%;
}
.box-three {
  padding: 22px;
  border-radius: 12px;
  background: #0b1023;
  box-shadow: 0px 0px 0px 4.047px rgba(255, 255, 255, 0.11);
  width: max-content;
  top: 38%;
  z-index: 1;
}
.box-four {
  border-radius: 12px;
  border: 0.809px solid rgba(255, 255, 255, 0.17);
  background: #ed5959;
  padding: 9.71px;
  top: 71%;
  left: 5%;
}
.bar {
  border-radius: 25.9px;
  background: #cad1e9;
  height: 18.615px;
}
.bar-one {
  width: 210.435px;
  top: 20%;
  left: 14%;
}
.bar-two {
  width: 225.813px;
  top: 41%;
  left: 10%;
}
.bar-three,
.bar-four {
  width: 280.849px;
  opacity: 0.4;
  left: 11%;
}
.bar-three {
  top: 49%;
}
.bar-four {
  top: 57%;
}
.box-five {
  border-radius: 12px;
  background: #0b1023;
  box-shadow: 0px 0px 0px 4.047px rgba(255, 255, 255, 0.11);
  padding: 26px;
  right: 4%;
  top: 71%;
}
.cursor {
  top: 79%;
  left: 18%;
}
/* row 2nd card */
.second-cursor {
  background-color: #7950ff;
}
.second-scroll-bar{
  width: 2.4px;
  height: 100%;
  position: relative;
}
.second-scroll-bar::before {
  content: "";
  position: absolute;
  width: 3px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: -5;
  filter: blur(4px);
  background: rgba(121, 80, 255, 1);
}
.second-scroll-bar::after{
  content: "";
  position: absolute;
  width: 3px;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: -5;
  background: linear-gradient(to bottom, rgba(121, 80, 255, 1), rgba(121, 80, 255, 1), rgba(121, 80, 255, 1), rgba(108, 85, 255, 0), rgba(113, 100, 255, 0));
}
.row-card-icon-container {
  padding: 15px 17px 15px 16px;
  border-radius: 20px;
}
.row-card-icon-padding {
  padding: 4px;
}
.bounce-animation {
  animation: bounce-vertical 2s infinite;
}
.bounce-animation-two {
  animation: bounce-vertical 6s infinite;
}
@keyframes bounce-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}
/* price card three */
.scroll-icon-three {
  background-color: #098709;
}
.scroll-bar-green{
  width: 2.4px;
  height: 100%;
  position: relative;
}
.scroll-bar-green::before {
  content: "";
  position: absolute;
  width: 3px;
  top: 0;
  bottom: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: -5;
  filter: blur(4px);
  background: rgba(9, 135, 9, 1);
}
.scroll-bar-green::after{
  background: linear-gradient(to bottom, rgba(9, 135, 9, 1), rgba(9, 135, 9, 1), rgba(9, 135, 9, 1), rgba(108, 85, 255, 0), rgba(102, 255, 102, 0));
  content: "";
  position: absolute;
  width: 3px;
  top: 0px;
  bottom: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  z-index: -5;
}
.big-blue-svg {
  top: 4%;
  right: 7%;
}
.email-svg {
  top: 39%;
  left: -5%;
  border-radius: 20px;
  background: linear-gradient(
    137deg,
    rgba(27, 28, 54, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
}
.contact-svg {
  top: 71%;
  left: 15%;
  border-radius: 20px;
  background: linear-gradient(
    137deg,
    rgba(27, 28, 54, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
}
.email-svg-icon-container {
  padding: 11px 43px 11px 12px;
  border-radius: 20px;
}
.contact-svg-icon-container {
  padding: 11px 80px 11px 12px;
  border-radius: 20px;
}
.why-choose-us-svg {
  z-index: -2;
  height: 30%;
  width: 80%;
}
.choose-us-circles {
  width: 100%;
  height: 20%;
  top: 25%;
  opacity: 0.2;
}
/* pricing section */
.pricing-card-container {
  gap: 24px;
  margin-top: 40px;
  padding: 0px 20px;
}
.pricing-card {
  gap: 24px;
  border-radius: 32px;
  border: 1px solid var(--neutral-015, rgba(255, 255, 255, 0.1));
  background: var(
    --Glass-linear,
    linear-gradient(
      80deg,
      rgba(0, 0, 0, 0.16) 25.25%,
      rgba(83, 84, 108, 0.16) 98.05%
    )
  );
  padding: 32px;
  width: 100%;
}
.pricing-title {
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 48px;
}
.price {
  font-size: 88px;
}
.price-button {
  padding: 15px 0px;
  width: 100%;
}
.checkmark-container {
  padding: 20px 0px;
  gap: 16px;
  border-bottom: 1px solid var(--neutral-015, rgba(255, 255, 255, 0.1));
}
.middle-price-padding {
  padding: 48px 32px;
}
.price-svg {
  height: 58%;
  width: 90%;
}
.earth-svg {
  top: -3%;
  right: 4%;
  animation: spinAnimation 10s linear infinite;
}
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.planet-red {
  top: 3%;
  right: 4%;
}
.planet-purple {
  top: 10%;
  right: 0%;
}
/* swiper slider */
.swiper {
  height: 100%;
  width: 100%;
  max-width: 1320px;
}
/* Style for both navigation buttons */
.swiper-button-next,
.swiper-button-prev {
width: 42px !important;  
height: 44px !important;
border-radius: 50%;
background: linear-gradient(315deg, #090edb, #e73dc4);
border: 1.6px solid;  /* White border */
color: transparent !important;  /* Arrow color */
transition: transform 0.3s ease;
font-size: 1px; 
clip-path: content-box;
}

/* Override Swiper's default arrow color */
.swiper-button-next::after,
.swiper-button-prev::after {
content: '';
background-repeat:no-repeat ;
background-position:center ;
background-size: cover;
width: 27px;  /* Set this based on your image size */
height: 24px;
}
/* Custom images for arrows */
.swiper-button-next::after {
background-image: url('../assests/icons/next-button.svg');  
}

.swiper-button-prev::after {
background-image: url('../assests/icons/prev-button.svg');  
}

/* Move buttons vertically */
.swiper-button-next,
.swiper-button-prev {
top: 60% !important; /* Adjust this value to move the buttons up or down */
}

/* Move buttons horizontally */
.swiper-button-next {
right: 0px !important;  /* Moves the next button further to the right */
}

.swiper-button-prev {
left: 0px !important;  /* Moves the previous button further to the left */
}

/* General pagination bullets */
.swiper-pagination-bullet {
background-color: white !important;  /* All bullets are white */
width: 6px !important;  /* Bullet size */
height: 6px !important;
opacity: 1 !important;  /* Make bullets fully visible */
transition: border 0.3s ease; 
margin: 0 8px !important;  /* 16px gap: 8px on each side */ /* Smooth transition for active state */
}

.swiper-pagination-bullet-active{
position: relative;
}

/* Active pagination bullet with gradient border */
.swiper-pagination-bullet-active::before{
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: linear-gradient(to right, rgba(9, 14, 219, 1), rgba(231, 61, 196, 1));
  z-index: -1;
} 
.swiper-pagination-bullet-active::after  {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: #1B1924;
  z-index: -1;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 15%;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
/*swiper slider ends  */
/* testimonial */
.testimonial-button {
  padding: 5px 9px;
}
.testimonial-inner-div {
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #272834;
  background: linear-gradient(
    80deg,
    rgba(51, 51, 62, 0.16) 6.21%,
    rgba(83, 84, 108, 0.16) 98.02%
  );
  gap: 16px;
}
.testimonial-info {
  gap: 6px;
  margin: 4px 0px 20px 0px;
  width: max-content;
}
.testimonial-dsc {
  line-height: 140%;
  margin-bottom: 50px;
}
.review-button {
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(315deg, #090edb, #e73dc4);
  border: 1.6px solid;
}
.slider {
  width: 100%;
  height: 415px;
  overflow: hidden;
}
.list {
  top: 0px;
  left: 0px;
  display: flex;
  height: 100%;
  width: max-content;
  transition: 0.5s;
}
.testimonial-div {
  border-radius: 20px;
  border: 1.2px solid var(--Strock-linear, #101132);
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.16) 25.25%,
    rgba(83, 84, 108, 0.16) 98.05%
  );
  padding: 40px;
  margin-top: 40px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.buttons {
  top: 60%;
  width: 100%;
  /* left: -20px; */
}
.dots {
  margin: 0px;
  padding: 4px;
  left: 46%;
  bottom: 16%;
}
.dots li {
  position: relative;
  list-style: none;
  width: 6px;
  height: 6px;
  background: #fff;
  margin: 0px 8px;
  border-radius: 50%;
}
.active-one {
  border-radius: 24px;
}
.active-one::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border-radius: inherit;
  background: radial-gradient(circle, #090edb, #e73dc4);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(white, white) content-box,
    linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  transition: inherit;
}
/* join us dsc */
.join-us-title {
  background: linear-gradient(180deg, #fff, #4349ff 73.37%, #f33cc0 13.43%);
  transition: background-position 1s ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 1000%;
  background-position: top;
  z-index: 1;
}
.join-us-title:hover {
  background-position: bottom;
}
.join-us-dsc {
  margin: 24px 0px 32px 0px;
  line-height: 160%;
}
.join-us-contaier {
  margin-top: 163px;
  margin-bottom: 163px;
  padding-top: 100px;
}
.join-us-line {
  left: 38%;
  animation: revealImage 5s infinite;
}
.join-us-svg {
  width: 60%;
  height: 120%;
  top: 0%;
  left: 35%;
}
.join-us-circles {
  width: 100%;
  height: 100%;
  top: 2%;
}
.secondary-circle-one {
  width: 56.4%;
  height: 182.8%;
  top: -30%;
  left: 20.5%;
}
.secondary-circle-two {
  width: 47.59%;
  height: 154.43%;
  top: -16%;
  left: 25%;
}
.secondary-circle-three {
  width: 37.13%;
  height: 120.4%;
  top: 0%;
  left: 30.5%;
}
.secondary-circle-four {
  width: 26.1%;
  height: 84.7%;
  top: 18%;
  left: 36.5%;
}
.secondary-circle-five {
  width: 16.7%;
  height: 54.2%;
  top: 33%;
  left: 41.5%;
}

/* footer */
.footer-container {
  max-width: 1840px;
  padding: 40px 40px 24px 40px;
  margin: 0px auto;
}
.li-padding {
  padding: 32px 48px;
  letter-spacing: 0.42px;
  font-size: 12px;
  line-height: 20px;
}
.footer-top {
  border-bottom: 1px solid var(--neutral-015, rgba(255, 255, 255, 0.1));
  margin-bottom: 24px;
}
.footer-logo-container {
  gap: 32px;
}
.footer-logo {
  padding: 11.4px;
  border-radius: 100%;
  background-color: #1b1530;
}
.responsive-block {
  display: none;
}
@keyframes light-sweep {
  0% {
    background-position: 100% 200%;
  }
  100% {
    background-position: 0% 200%;
  }
}
@media only screen and (max-width: 600px) {
  .vector-container {
    max-width: 95%;
  }
  .nav {
    margin: 10px 0px;
  }
  .responsive-hide {
    display: none;
  }
  .contact-svg-icon-container {
    gap: 16px;
    padding: 11px 70px 11px 12px !important;
  }
  .email-svg-icon-container {
    padding: 11px 43px 11px 12px !important;
    gap: 16px;
  }
  .text-xl {
    font-size: 14px;
  }
  .text-xxxl {
    font-size: 24px;
  }
  .title-container {
    padding: 0px;
  }
  .responsive-block {
    display: block;
  }
  .title-line {
    top: 14%;
    right: 3%;
    width: 30%;
  }
  .hero-dsc {
    line-height: 100%;
    margin-bottom: 56px;
    padding: 0px 16px;
}
  .responsive-padding-fix {
    padding: 0px 4px;
  }
  .hero-logo-container {
    flex-direction: column;
    align-items: center;
  }
  .special-gradiant {
    background: rgba(12, 10, 20, 0.8);
  }
  .hero-logo-sides {
    gap: 16px;
  }
  .logo-image-div {
    width: 45%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .logo-container {
    margin-right: 0px;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
  }
  .one {
    transform: rotate(0deg) translate(150px) rotate(0deg);
  }

  .two {
    transform: rotate(90deg) translate(150px) rotate(-90deg);
  }

  .three {
    transform: rotate(180deg) translate(150px) rotate(-180deg);
  }

  .four {
    transform: rotate(270deg) translate(150px) rotate(-270deg);
  }
  .box-scale-down {
    scale: 0.6;
  }
  .hero-top-button {
    font-size: 10px;
  }
  .hero-button-container {
    gap: 16px;
    margin-bottom: 16px;
  }
  .hero-title {
    margin-bottom: 32px;
    margin-top: 24px;
}
  .service-container {
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .responsive-button {
    font-size: 10px;
    padding: 6px 16px;
  }
  .icon-container {
    padding: 4px;
  }
  .svg-container-two {
    width: 80%;
  }
  .first {
    height: 75%;
    top: 29%;
  }
  .fifth {
    height: 20%;
    top: 56%;
  }
  .fourth {
    height: 37%;
    top: 48%;
  }
  .third {
    height: 48%;
    top: 43%;
  }
  .second {
    height: 62%;
    top: 36%;
  }
  .join-us-svg {
    left: 12%;
  }
  .text-xxl {
    font-size: 24px;
  }
  .span-block {
    display: inline;
  }
  .service-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  .card {
    padding: 16px;
  }
  .card-title {
    font-size: 20px;
    margin-top: 6px;
  }
  .text-lg {
    font-size: 14px;
  }
  .card-gradiant {
    height: 50%;
    width: 40%;
    top: 18%;
    left: 40%;
  }
  .row-card {
    padding: 16px;
  }
  .row-card {
    flex-direction: column;
    gap: 24px;
  }
  .row-card-left {
    width: 100%;
    gap: 8px;
  }
  .row-card-right {
    width: 100%;
    height: 416px;
    flex-direction: column;
    scale: 0.9;
  }
  .row-card-title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .row-card-icon-container {
    gap: 16px;
  }
  .gap-16 {
    gap: 8px;
  }
  .responsive-scale {
    scale: 0.7;
  }
  .box-one {
    right: -72px;
  }
  .box-two {
    left: -28%;
  }
  .box-three {
    left: -24%;
  }
  .box-four {
    left: -13%;
  }
  .cursor {
    left: 8%;
  }
  .choose-us-circles {
    height: 3%;
    top: 35%;
  }
  .pricing-card-container {
    flex-direction: column;
    padding: 0;
  }
  .price-button {
    padding: 10px 0px;
  }
  .price {
    font-size: 44px;
  }
  .pricing-card {
    width: -webkit-fill-available;
  }
  .testimonial-div {
    width: 85.7vw;
    padding: 12px 16px;
  }
  .testimonial-inner-div {
    flex-direction: column;
  }
  .inherit-width {
    width: fit-content;
  }
  .testimonial-dsc {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .slider {
    height: 500px;
  }
  .dots {
    left: 30%;
    top: 87%;
  }
  .buttons {
    width: 100%;
    left: 0px;
  }
  .footer-top {
    flex-direction: column;
  }
  .li-padding {
    padding: 0px 4px;
    font-size: 10px;
  }
  .footer-container {
    padding: 16px 8px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    gap: 8px;
  }
  .join-us-contaier {
    padding-top: 0px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .join-us-line {
    width: 40%;
    left: 30%;
    top: 32%;
  }
  .join-us-dsc {
    font-size: 14px;
    margin: 12px 0px 8px 0px;
  }
  .join-us-circles {
    width: 100%;
    height: 50%;
    top: 19%;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 5%;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

}
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .vector-container {
    max-width: 90%;
  }
  .service-container {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .responsive-hide-tab,
  .responsive-hide {
    display: none;
  }
  .responsive-block {
    display: block;
  }
  .nav {
    margin: 20px 0px;
  }
  .text-xl {
    font-size: 18px;
  }
  .text-responsive {
    font-size: 12px;
  }
  .primary-button {
    padding: 06px 16px;
  }
  .title-container {
    padding: 20px 40px;
  }
  .text-xxxl {
    font-size: 38px;
  }
  .title-line {
    top: 16%;
    right: 20%;
    width: 25%;
  }
  .hero-logo-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-logo-sides {
    flex-direction: row;
    gap: 24px;
  }
  .logo-image-div {
    width: 40%;
    margin-top: 40px;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg) translate(200px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(200px) rotate(-360deg);
    }
  }
  .one {
    transform: rotate(0deg) translate(200px) rotate(0deg);
  }

  .two {
    transform: rotate(90deg) translate(200px) rotate(-90deg);
  }

  .three {
    transform: rotate(180deg) translate(200px) rotate(-180deg);
  }

  .four {
    transform: rotate(270deg) translate(200px) rotate(-270deg);
  }
  .box-scale-down {
    scale: 0.7;
  }

  .first {
    height: 89%;
    top: 9%;
  }
  .fifth {
    height: 22%;
    top: 42%;
  }
  .fourth {
    height: 38%;
    top: 35%;
  }
  .third {
    height: 56%;
    top: 26%;
  }
  .second {
    height: 73%;
    top: 17%;
  }
  .service-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    padding: 64px 32px;
  }
  .card-dsc {
    line-height: 100%;
    margin: 6px 0px;
  }
  .card-title {
    margin-top: 12px;
    font-size: 18px;
  }
  .card-gradiant {
    height: 50%;
    width: 40%;
    top: 18%;
    left: 40%;
  }
  .text-lg {
    font-size: 14px;
  }
  .explore-padding {
    margin: 3px 2px;
  }
  .row-card {
    flex-direction: column;
    gap: 24px;
  }
  .row-card-left {
    width: 100%;
  }
  .row-card-right {
    width: 100%;
    height: 400px;
  }
  .choose-us-circles {
    height: 7%;
  }
  .li-padding {
    padding: 0px 8px;
  }
  .text-sm {
    font-size: 12px;
  }
  .join-us-contaier {
    padding-top: 0px;
  }
  .buttons {
    top: 65%;
    width: 100%;
    left: 0px;
  }
  .pricing-card-container {
    padding: 0px;
    flex-direction: column;
  }
  .pricing-title {
    font-size: 22px;
  }
  .price {
    font-size: 40px;
  }
  .middle-price-padding {
    padding: 32px 32px;
  }
  .price-button {
    padding: 8px 1px;
    width: 100%;
  }
  .pricing-card {
    width: 90%;
  }
  .svg-container-two {
    width: 65%;
  }
  .testimonial-div {
    max-width: 80vw;
  }
  .dots {
    left: 41%;
  }
  .join-us-line {
    left: 22%;
  }
  .slider {
    height: 442px;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 5%;
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
}

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .vector-container {
    max-width: 90%;
  }
  .service-container {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .responsive-hide-tab {
    display: none;
  }
  .nav {
    margin: 20px 0px;
  }
  .text-xl {
    font-size: 18px;
  }
  .text-responsive {
    font-size: 12px;
  }
  .primary-button {
    padding: 06px 16px;
  }
  .button-secondary {
    padding: 06.5px 16px;
  }
  .title-container {
    padding: 20px 40px;
  }
  .text-xxxl {
    font-size: 40px;
  }
  .title-line {
    right: 20%;
    width: 25%;
  }
  .hero-logo-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-logo-sides {
    flex-direction: row;
    gap: 24px;
  }
  .logo-image-div {
    width: 30%;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg) translate(250px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(250px) rotate(-360deg);
    }
  }
  .one {
    transform: rotate(0deg) translate(250px) rotate(0deg);
  }

  .two {
    transform: rotate(90deg) translate(250px) rotate(-90deg);
  }

  .three {
    transform: rotate(180deg) translate(250px) rotate(-180deg);
  }

  .four {
    transform: rotate(270deg) translate(250px) rotate(-270deg);
  }
  .box-scale-down {
    scale: 0.7;
  }
  .first {
    height: 89%;
    top: 9%;
  }
  .fifth {
    height: 22%;
    top: 42%;
  }
  .fourth {
    height: 38%;
    top: 35%;
  }
  .third {
    height: 56%;
    top: 26%;
  }
  .second {
    height: 73%;
    top: 17%;
  }
  .card {
    padding: 16px;
  }
  .card-dsc {
    line-height: 100%;
    margin: 6px 0px;
  }
  .card-title {
    margin-top: 12px;
    font-size: 18px;
  }
  .card-gradiant {
    height: 50%;
    width: 40%;
    top: 18%;
    left: 40%;
  }
  .text-lg {
    font-size: 14px;
  }
  .explore-padding {
    margin: 3px 2px;
  }
  .row-card {
    flex-direction: column;
    gap: 24px;
  }
  .row-card-left {
    width: 100%;
  }
  .row-card-right {
    width: 100%;
    height: 400px;
  }
  .choose-us-circles {
    height: 7%;
  }
  .li-padding {
    padding: 0px 16px;
  }
  .join-us-contaier {
    padding-top: 0px;
  }
  .buttons {
    top: 65%;
    width: 100%;
    left: 0px;
  }
  .pricing-card-container {
    padding: 0px;
  }
  .pricing-title {
    font-size: 22px;
  }
  .price {
    font-size: 40px;
  }
  .middle-price-padding {
    padding: 32px 32px;
  }
  .price-button {
    padding: 1px 1px;
    width: 100%;
  }
  .svg-container-two {
    width: 65%;
  }
  .testimonial-div {
    max-width: 80vw;
  }
  .dots {
    left: 41%;
  }
  .join-us-line {
    left: 28%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .vector-container {
    max-width: 90%;
  }
  .service-container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .text-xxxl {
    font-size: 48px;
  }
  .title-line {
    right: 28%;
    width: 22%;
  }
  .text-xl {
    font-size: 20px;
  }
  .title-container {
    padding: 5px 28px;
  }
  .logo-image-div {
    width: 30%;
    padding-bottom: 95px;
    padding-top: 55px;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg) translate(250px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(250px) rotate(-360deg);
    }
  }
  .one {
    transform: rotate(0deg) translate(250px) rotate(0deg);
  }

  .two {
    transform: rotate(90deg) translate(250px) rotate(-90deg);
  }

  .three {
    transform: rotate(180deg) translate(250px) rotate(-180deg);
  }

  .four {
    transform: rotate(270deg) translate(250px) rotate(-270deg);
  }
  .box-scale-down {
    scale: 0.9;
  }
  .card {
    padding: 12px;
  }
  .scale-down {
    scale: 0.9;
  }
  .text-lg {
    font-size: 16px;
  }
  .card-dsc {
    line-height: 140%;
    margin: 10px 0px;
  }
  .card-gradiant {
    height: 50%;
    width: 40%;
  }
  .join-us-contaier {
    padding-top: 0px;
  }
  .join-us-line {
    left: 33%;
  }
  .pricing-title {
    font-size: 24px;
  }
  .price {
    font-size: 44px;
  }
  .text-xxl {
    font-size: 30px;
  }
  .price-button {
    padding: 7px 0px;
  }
  .testimonial-div {
    max-width: 81.7vw;
  }
  .choose-us-circles {
    height: 12%;
  }
  .row-card-title {
    font-size: 24px;
  }
  .row-card-right {
    scale: 0.8;
  }
  .row-card {
    gap: 16px;
  }
  .box-one {
    right: -75px;
    top: 7%;
  }
  .box-two {
    top: 17%;
    left: 0%;
  }
  .row-card-icon-container {
    flex-direction: column;
    align-items: start;
  }
  .svg-container-two {
    width: 65%;
  }
}
