/* Global css */
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-color-text: #cac6dd;
  --Stock-linear: linear-gradient(90deg, #090edb, #e73dc4);
}
body {
  font-family: "Aeonik Regular";
  background-color: #0c0a14;
  background-image: url("../assests/images/background-m.png");
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--font-color-text);
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mx-auto {
  margin: 0px auto;
}
.font-sora {
  font-family: Sora;
}
.font-inter {
  font-family: Inter;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
img {
  width: 100%;
  height: 100%;
}
.inherit-width {
  width: inherit;
}
.inline {
  display: inline-block;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff !important;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.text-sm {
  font-size: 14px;
}
.text-lg {
  font-size: 20px;
}
.text-xl {
  font-size: 24px;
}
.text-xxl {
  font-size: 40px;
}
.text-xxxl {
  font-size: 60px;
}
.vector-container {
  max-width: 1320px;
  margin: 0px auto;
  padding: 0px auto;
}
.font-primary {
  color: #cad1e9;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.span-block {
  display: block;
}
.gap-24 {
  gap: 24px;
}
.line-140 {
  line-height: 140%;
}
.gap-16 {
  gap: 16px;
}
/* navbar */
.nav {
  margin: 20px 58.5px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(15, 12, 23, 0.14);
}
.nav-logo {
  font-family: "Source Code Pro";
  font-weight: 700;
  letter-spacing: -0.27px;
}
.nav-left {
  gap: 8px;
}
.nav-middle {
  gap: 24px;
}
.test-glass {
  left: 0px;
}
.button-glass {
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.2) inset;
  padding: 10px 20px;
  border-radius: 12px;
}
.primary-button {
  position: relative;
  background: #0c0a14;
  border: 1px solid transparent;
  color: #cad1e9;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.2) inset;
  padding: 10px 20px;
  border-radius: 12px;
  background-clip: padding-box;
  gap: 2px;
  transition: box-shadow 0.3s ease-in;
  background-image: linear-gradient(to right, #ffffff14, #ffffff01);
}
.primary-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, #090edb, #8d1ea2);
}
.primary-button:hover {
  box-shadow: -4px 0 10px 3px rgba(9, 14, 219, 0.4),
    4px 0 10px 3px rgba(141, 30, 162, 0.4);
}
/* hero section */
.hero-top-button {
  padding: 5px 16.5px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.2) inset,
    0px 4px 50px 0px rgba(159, 100, 239, 0.4);
}
.hero-title {
  line-height: 120%;
  background: linear-gradient(180deg, #f33cc0 13.43%, #4349ff 73.37%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.hero-dsc {
  line-height: 140%;
  margin-bottom: 32px;
  padding: 0px 60px;
}
.title-line {
  top: 21%;
  right: 24%;
}
.button-secondary {
  background: linear-gradient(87deg, #090edb 8.8%, #da24bb 84.38%);
  border: 0.1px solid #ffe1e1;
}
.special-gradiant {
  background-image: linear-gradient(
    80deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
.hero-button-container {
  gap: 16px;
  margin-bottom: 50px;
}
.logo-container {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0px 0px 0px 1px #2d2e48;
  padding: 7px 8.636px 8.636px 7px;
  margin-right: 16px;
}
.logo-title-two {
  line-height: 20px; /* 125% */
  letter-spacing: -0.5px;
}
.icon-container {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: linear-gradient(
    137deg,
    rgba(27, 28, 54, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
  padding: 12px;
}
.icon-title-gap {
  gap: 4px;
}
.title-container {
  padding: 68px 168px 100px 168px;
}
.padding-fix {
  padding: 2px;
}
.circle {
  border: 1px solid #cac6dd;
  border-radius: 100%;
  opacity: 0.1;
  z-index: -1;
}
.planet {
  position: absolute;
  border-radius: 100%;
  animation: spin 10s linear infinite;
}
/* Specific sizes and positions for backgrounds */
.first {
  height: 125%;
  width: 100%;
  top: -2%;
  left: 0;
  opacity: 0.05;
}
.second {
  height: 103%;
  width: 85%;
  top: 8%;
  left: 7%;
}
.third {
  height: 83%;
  width: 67%;
  top: 19%;
  left: 16%;
}
.fourth {
  height: 60%;
  width: 48%;
  top: 31%;
  left: 26%;
}
.fifth {
  height: 36%;
  width: 27%;
  top: 42%;
  left: 36%;
}

/* Planet specific sizes, positions, and gradients */
.first-planet {
  height: 16px;
  width: 16px;
  top: 17%;
  left: 3.5%;
  background: linear-gradient(180deg, #dd734f 0%, #1a1a32 100%);
}
.second-planet {
  height: 24px;
  width: 24px;
  top: 59%;
  left: -1%;
  background: linear-gradient(180deg, #88e5be 0%, #1a1a32 100%);
}
.third-planet {
  height: 12px;
  width: 12px;
  top: 41%;
  left: 19.5%;
  background: linear-gradient(180deg, #b9aedf 0%, #1a1a32 100%);
}
.fourth-planet {
  height: 24px;
  width: 24px;
  top: 41%;
  right: 1%;
  background: linear-gradient(180deg, #88e5be 0%, #1a1a32 100%);
}
.fifth-planet {
  height: 8px;
  width: 8px;
  top: 10%;
  right: 3.5%;
  background: linear-gradient(180deg, #dd734f 0%, #1a1a32 100%);
}
.svg-container-two {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 30%;
  left: 10%;
  z-index: -1;
  border-radius: 20px;
}

.svg-container-two::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle at 20% 20%,
      rgba(24, 160, 251, 0.5),
      transparent 60%
    ),
    radial-gradient(circle at 30% 10%, rgba(242, 55, 31, 0.5), transparent 60%),
    radial-gradient(circle at 50% 20%, rgba(238, 70, 211, 0.5), transparent 60%),
    radial-gradient(circle at 40% 90%, rgba(0, 0, 255, 0.5), transparent 60%); /* Even more bluish Cyan */
  background-blend-mode: color-dodge;
  mix-blend-mode: color-dodge;
  filter: blur(198px);
  z-index: -1;
}
/* service section */
.service-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.service-tile {
  line-height: 120%;
  margin: 8px 0px 16px 0px;
}
.span-gradient {
  background: linear-gradient(87deg, #090edb 24.27%, #8d1ea2 87.36%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-dsc {
  line-height: 140%;
  margin: 16px 0px 40px 0px;
}
.card {
  padding: 32px;
  top: 0px;
}
.card-logo-contaier {
  border-radius: 13px;
  background: var(
    --Linear-2,
    linear-gradient(143deg, #0a0fdb -10.56%, #8d00a6 111.87%)
  );
  padding: 10px;
  width: max-content;
}
.card-title {
  font-size: 28px;
  line-height: 120%;
  margin-top: 28px;
}
.card-dsc {
  line-height: 140%;
  margin: 10px 0px 24px 0px;
}
.explore-padding {
  padding: 10px 6px;
}
.card-gradiant {
  width: 60%;
  height: 60%;
  background: linear-gradient(128deg, #0f1eff, #0064ff);
  filter: blur(60px);
  opacity: 0.4;
  mix-blend-mode: color-dodge;
  border-radius: 121px;
  top: 85px;
  left: 128px;
}
/* why choose us section */
.row-card-container {
  margin-top: 40px;
  gap: 40px;
}
.row-card {
  border-radius: 20px;
  border: 1.2px solid #101132;
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.16) 25.25%,
    rgba(83, 84, 108, 0.16) 98.05%
  );
  padding: 40px;
  gap: 139px;
  z-index: -1;
}
.row-card-left {
  gap: 20px;
  width: 55%;
}
.row-card-right {
  width: 43%;
}
.scroll-bar {
  width: 2.4px;
  background-image: linear-gradient(
    90deg,
    #3639ff 13.51%,
    rgba(108, 85, 255, 0) 89.18%,
    rgba(99, 101, 255, 0) 89.18%
  );
  height: 100%;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 12px rgba(54, 115, 255, 0.5) inset,
    0px 0px 15px rgba(72, 145, 255, 0.7), 0px 0px 20px rgba(99, 181, 255, 0.5);
}
.scroll-icon {
  background: #1e21e9;
  padding: 6.5px 8px;
  border-radius: 100%;
}
.row-card-title {
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 42px;
}
.box-one {
  width: 395.779px;
  height: 277.612px;
  border-radius: 12px;
  border: 0.809px solid #2d2e48;
  background: linear-gradient(
    100deg,
    rgba(0, 132, 255, 0.16) 7%,
    rgba(255, 171, 144, 0.16) 48.55%,
    rgba(253, 138, 200, 0.16) 101.86%
  );
  right: 0;
}
.box-two {
  border-radius: 12px;
  border: 0.809px solid #2c2d47;
  background: linear-gradient(
    216deg,
    rgba(27, 28, 54, 0.16) 15.37%,
    rgba(0, 0, 11, 0.16) 99.03%
  );
  background-image: linear-gradient(
    100deg,
    rgba(0, 132, 255, 0.16) 7%,
    rgba(255, 171, 144, 0.16) 48.55%,
    rgba(253, 138, 200, 0.16) 101.86%
  );
  width: 395.779px;
  height: 277.612px;
  top: 11%;
  left: 10%;
}
.box-three {
  padding: 22px;
  border-radius: 12px;
  background: #0b1023;
  box-shadow: 0px 0px 0px 4.047px rgba(255, 255, 255, 0.11);
  width: max-content;
  top: 38%;
  z-index: 1;
}
.box-four {
  border-radius: 12px;
  border: 0.809px solid rgba(255, 255, 255, 0.17);
  background: #ed5959;
  padding: 9.71px;
  top: 71%;
  left: 5%;
}
.bar {
  border-radius: 25.9px;
  background: #cad1e9;
  height: 18.615px;
}
.bar-one {
  width: 210.435px;
  top: 20%;
  left: 14%;
}
.bar-two {
  width: 225.813px;
  top: 41%;
  left: 10%;
}
.bar-three,
.bar-four {
  width: 280.849px;
  opacity: 0.4;
  left: 11%;
}
.bar-three {
  top: 49%;
}
.bar-four {
  top: 57%;
}
.box-five {
  border-radius: 12px;
  background: #0b1023;
  box-shadow: 0px 0px 0px 4.047px rgba(255, 255, 255, 0.11);
  padding: 26px;
  right: 4%;
  top: 71%;
}
.cursor {
  top: 79%;
  left: 18%;
}
/* row 2nd card */
.second-cursor {
  background-color: #7950ff;
}
.second-scroll-bar {
  width: 2.4px;
  background-image: linear-gradient(
    90deg,
    #7950ff 13.51%,
    rgba(121, 80, 255, 0) 89.18%,
    rgba(121, 80, 255, 0) 89.18%
  );
  height: 100%;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 12px rgba(121, 80, 255, 0.5) inset,
    0px 0px 15px rgba(121, 80, 255, 0.7), 0px 0px 20px rgba(121, 80, 255, 0.5);
}
.row-card-icon-container {
  padding: 15px 17px 15px 16px;
  border-radius: 20px;
}
.row-card-icon-padding {
  padding: 4px;
}
/* price card three */
.scroll-icon-three {
  background-color: #098709;
}
.scroll-bar-green {
  width: 2.4px;
  background-image: linear-gradient(
    90deg,
    #098709 13.51%,
    rgba(9, 135, 9, 0) 89.18%,
    rgba(9, 135, 9, 0) 89.18%
  );
  height: 100%;
  backdrop-filter: blur(8px);
  box-shadow: 0px 4px 12px rgba(9, 135, 9, 0.5) inset,
    0px 0px 15px rgba(9, 160, 9, 0.7), 0px 0px 20px rgba(9, 190, 9, 0.5);
}
.big-blue-svg {
  top: 4%;
  right: 7%;
}
.email-svg {
  top: 39%;
  left: -5%;
  border-radius: 20px;
  background: linear-gradient(
    137deg,
    rgba(27, 28, 54, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
}
.contact-svg {
  top: 71%;
  left: 15%;
  border-radius: 20px;
  background: linear-gradient(
    137deg,
    rgba(27, 28, 54, 0.16) 23.98%,
    rgba(112, 113, 122, 0.16) 65.73%
  );
}
.email-svg-icon-container {
  padding: 11px 43px 11px 12px;
  border-radius: 20px;
}
.contact-svg-icon-container {
  padding: 11px 80px 11px 12px;
  border-radius: 20px;
}
.why-choose-us-svg {
  z-index: -2;
  height: 30%;
  width: 80%;
}
.choose-us-circles {
  width: 100%;
  height: 20%;
  top: 25%;
  opacity: 0.2;
}
/* pricing section */
.pricing-card-container {
  gap: 24px;
  margin-top: 40px;
  padding: 0px 20px;
}
.pricing-card {
  gap: 24px;
  border-radius: 32px;
  border: 1px solid var(--neutral-015, rgba(255, 255, 255, 0.1));
  background: var(
    --Glass-linear,
    linear-gradient(
      80deg,
      rgba(0, 0, 0, 0.16) 25.25%,
      rgba(83, 84, 108, 0.16) 98.05%
    )
  );
  padding: 32px;
  width: 100%;
}
.pricing-title {
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 48px;
}
.price {
  font-size: 88px;
}
.price-button {
  padding: 15px 0px;
  width: 100%;
}
.checkmark-container {
  padding: 20px 0px;
  gap: 16px;
  border-bottom: 1px solid var(--neutral-015, rgba(255, 255, 255, 0.1));
}
.middle-price-padding {
  padding: 48px 32px;
}
.price-svg {
  height: 58%;
  width: 90%;
}
.earth-svg {
  top: -3%;
  right: -21%;
}
.planet-red {
  top: 3%;
  right: 4%;
}
.planet-purple {
  top: 10%;
  right: -2%;
}
/* testimonial */
.testimonial-button {
  padding: 5px 9px;
}
.testimonial-inner-div {
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #272834;
  background: linear-gradient(
    80deg,
    rgba(51, 51, 62, 0.16) 6.21%,
    rgba(83, 84, 108, 0.16) 98.02%
  );
  gap: 16px;
}
.testimonial-info {
  gap: 6px;
  margin: 4px 0px 20px 0px;
  width: max-content;
}
.testimonial-dsc {
  line-height: 140%;
  margin-bottom: 50px;
}
.review-button {
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(315deg, #090edb, #e73dc4);
  border: 1.6px solid;
}
.slider {
  width: 100%;
  height: 415px;
  overflow: hidden;
}
.list {
  top: 0px;
  left: 0px;
  display: flex;
  height: 100%;
  width: max-content;
  transition: 0.5s;
}
.testimonial-div {
  border-radius: 20px;
  border: 1.2px solid var(--Strock-linear, #101132);
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.16) 25.25%,
    rgba(83, 84, 108, 0.16) 98.05%
  );
  padding: 40px;
  margin-top: 40px;
  max-width: 1240px;
}
.buttons {
  top: 60%;
  width: 100%;
  /* left: -20px; */
}
.dots {
  margin: 0px;
  padding: 0px;
  left: 46%;
  bottom: 16%;
}
.dots li {
  list-style: none;
  width: 6px;
  height: 6px;
  background: #fff;
  margin-left: 16px;
  border-radius: 50%;
  transition: 0.5s;
}
.active-one {
  border-radius: 24px;
  border: 1px solid var(--Stock-linear, #090edb);
  padding: 6px;
}
/* join us dsc */
.join-us-dsc {
  margin: 24px 0px 32px 0px;
  line-height: 160%;
}
.join-us-contaier {
  margin-top: 163px;
  margin-bottom: 163px;
  padding-top: 100px;
}
.join-us-line {
  left: 38%;
}
.join-us-svg {
  width: 60%;
  left: 35%;
}
.secondary-circle-one {
  width: 56.4%;
  height: 182.8%;
  top: -30%;
  left: 20.5%;
}
.secondary-circle-two {
  width: 47.59%;
  height: 154.43%;
  top: -16%;
  left: 25%;
}
.secondary-circle-three {
  width: 37.13%;
  height: 120.4%;
  top: 0%;
  left: 30.5%;
}
.secondary-circle-four {
  width: 26.1%;
  height: 84.7%;
  top: 18%;
  left: 36.5%;
}
.secondary-circle-five {
  width: 16.7%;
  height: 54.2%;
  top: 33%;
  left: 41.5%;
}
/* footer */
.footer-container {
  max-width: 1840px;
  padding: 40px 40px 24px 40px;
  margin: 0px auto;
}
.li-padding {
  padding: 32px 48px;
  letter-spacing: 0.42px;
  font-size: 12px;
  line-height: 20px;
}
.footer-top {
  border-bottom: 1px solid var(--neutral-015, rgba(255, 255, 255, 0.1));
  margin-bottom: 24px;
}
.footer-logo-container {
  gap: 32px;
}
.footer-logo {
  padding: 11.4px;
  border-radius: 100%;
  background-color: #1b1530;
}
.responsive-block {
  display: none;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* *,
::after,
::before {
  border: 1px solid red;
} */
@media only screen and (max-width: 600px) {
  .vector-container {
    max-width: 95%;
  }
  .nav {
    margin: 10px 0px;
  }
  .responsive-hide {
    display: none;
  }
  .text-xl {
    font-size: 14px;
  }
  .text-xxxl {
    font-size: 24px;
  }
  .title-container {
    padding: 0px;
  }
  .responsive-block {
    display: block;
  }
  .title-line {
    top: 14%;
    right: 3%;
    width: 30%;
  }
  .hero-dsc {
    line-height: 100%;
    margin-bottom: 16px;
    padding: 0px 16px;
  }
  .hero-logo-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-logo-sides {
    gap: 16px;
  }
  .logo-image-div {
    width: 50%;
  }
  .hero-button-container {
    gap: 16px;
    margin-bottom: 16px;
}
.service-container {
  padding-top: 50px;
  padding-bottom: 0px;
}
.icon-container{
  padding: 4px;
}
.primary-button{
  padding: 4px 20px;
}
.button-glass{
  padding: 4px 20px;
}
.svg-container-two{
  width: 80%;
}
.first {
  height: 50%;
  top: 29%;
}
.fifth {
  height: 12%;
  top: 48%;
}
.fourth {
  height: 23%;
  top: 42%;
}
.third {
  height: 32%;
        top: 37%;
}
.second {
  height: 41%;
  top: 33%;
}
.join-us-svg {
  left: 12%;
}
.text-xxl {
  font-size: 24px;
}
.span-block {
  display: inline;
}
.service-card{
  flex-direction: column;
  gap: 8px;
}
.card{
  scale: 0.9;
  padding: 0px;
}
.card-title{
  font-size: 24px;
  margin-top: 6px;
}
.text-lg{
  font-size: 16px;
}
.card-gradiant {
  height: 50%;
  width: 40%;
  top: 18%;
  left: 40%;
}
.row-card{
  padding: 16px;
}
.row-card {
  flex-direction: column;
  gap: 24px;
}
.row-card-left {
  width: 100%;
  gap: 8px;
}
.row-card-right {
  width: 100%;
  height: 416px;
  flex-direction: column;
  scale: 0.9;
}
.row-card-title {
  font-size: 20px;
  margin-bottom: 12px;
}
.gap-16{
  gap: 8px;
}
.responsive-scale {
  scale: 0.7;
}
.box-one{
  right: -72px;
}
.box-two{
  left: -28%;;
}
.box-three{
  left: -24%;
}
.box-four{
  left: -13%;
}
.cursor{
  left: 8%;
}
.choose-us-circles {
  height: 3%;
  top: 35%;
}
.pricing-card-container{
  flex-direction: column;
  padding: 0;
}
.price-button{
  padding: 10px 0px;
}
.price{
  font-size: 44px;
}
.pricing-card{
  width: -webkit-fill-available;;
}

.testimonial-div{
  width: 81.7vw;
  padding: 12px 16px;
}
.testimonial-inner-div{
  flex-direction: column;
}
.inherit-width{
  width: fit-content;
}
.testimonial-dsc{
  font-size: 12px;
  margin-bottom: 12px;
}
.slider{
  height: 500px;
}
.dots {
  left: 30%;
  bottom: 13%;
}
.footer-top {
  flex-direction: column;
}
.li-padding{
  padding: 0px 4px;
  font-size: 10px;
}
.footer-container{
  padding: 16px 8px;
}
.footer-bottom{
  flex-direction: column-reverse;
  gap: 8px;
}
.join-us-contaier{
  padding-top: 0px;
  margin-top: 60px;
  margin-bottom: 100px;
}
.join-us-line {
  width: 50%;
  left: 24%;
  top: 28%;
}
.join-us-dsc{
  font-size: 14px;
}
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .vector-container {
    max-width: 90%;
  }
  .service-container {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .nav {
    margin: 20px 0px;
  }
  .text-xl {
    font-size: 18px;
  }
  .text-responsive {
    font-size: 12px;
  }
  .primary-button {
    padding: 06px 16px;
  }
  .button-glass {
    padding: 06px 16px;
  }
  .title-container {
    padding: 20px 40px;
  }
  .text-xxxl {
    font-size: 40px;
  }
  .title-line {
    top: 16%;
    right: 20%;
    width: 25%;
  }
  .hero-logo-container {
    flex-direction: column;
    align-items: center;
  }
  .hero-logo-sides {
    flex-direction: row;
  }
  .logo-image-div {
    width: 50%;
  }
  .first {
    height: 89%;
    top: 9%;
  }
  .fifth {
    height: 22%;
    top: 42%;
  }
  .fourth {
    height: 38%;
    top: 35%;
  }
  .third {
    height: 56%;
    top: 26%;
  }
  .second {
    height: 73%;
    top: 17%;
  }
  .card {
    padding: 0px;
    transform: scale(0.8);
    top: 0;
  }
  .scale-down {
    scale: 0.9;
  }
  .card-dsc {
    line-height: 100%;
    margin: 6px 0px;
  }
  .card-title {
    margin-top: 12px;
    font-size: 18px;
  }
  .card-gradiant {
    height: 50%;
    width: 40%;
    top: 18%;
    left: 40%;
  }
  .text-lg {
    font-size: 14px;
  }
  .explore-padding {
    padding: 3px 2px;
  }
  .row-card {
    flex-direction: column;
    gap: 24px;
  }
  .row-card-left {
    width: 100%;
  }
  .row-card-right {
    width: 100%;
    height: 400px;
  }
  .choose-us-circles {
    height: 7%;
  }
  .li-padding {
    padding: 0px 16px;
  }
  .join-us-contaier {
    padding-top: 0px;
  }
  .pricing-card-container {
    padding: 0px;
  }
  .pricing-title {
    font-size: 22px;
  }
  .price {
    font-size: 40px;
  }
  .middle-price-padding {
    padding: 32px 32px;
  }
  .price-button {
    padding: 1px 1px;
    width: 100%;
  }
  .svg-container-two {
    width: 65%;
  }
  .testimonial-div {
    max-width: 81.7vw;
  }
  .dots {
    left: 41%;
  }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .vector-container {
    max-width: 90%;
  }
  .service-container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .text-xxxl {
    font-size: 48px;
  }
  .title-line {
    right: 28%;
    width: 22%;
  }
  .text-xl {
    font-size: 20px;
  }
  .title-container {
    padding: 5px 28px;
  }
  .logo-image-div {
    width: 40%;
  }
  .card {
    padding: 8px;
    transform: scale(0.7);
    top: -5%;
  }
  .scale-down {
    scale: 0.9;
  }
  .text-lg {
    font-size: 16px;
  }
  .card-dsc {
    line-height: 140%;
    margin: 10px 0px;
  }
  .card-gradiant {
    height: 50%;
    width: 40%;
  }
  .join-us-contaier {
    padding-top: 0px;
  }
  .join-us-line {
    left: 33%;
  }
  .pricing-title {
    font-size: 24px;
  }
  .price {
    font-size: 44px;
  }
  .text-xxl {
    font-size: 30px;
  }
  .price-button {
    padding: 7px 0px;
  }
  .testimonial-div {
    max-width: 81.7vw;
  }
  .choose-us-circles {
    height: 12%;
  }
  .row-card-title {
    font-size: 24px;
  }
  .row-card-right {
    scale: 0.8;
  }
  .row-card {
    gap: 16px;
  }
  .box-one {
    right: -75px;
    top: 7%;
  }
  .box-two {
    top: 17%;
    left: 0%;
  }
  .row-card-icon-container {
    flex-direction: column;
    align-items: start;
  }
  .svg-container-two {
    width: 65%;
  }
}
