/* Global css */
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --font-size-base: 16px;
  --font-weight-normal: 400;
  --font-color-text : #CAC6DD;
}
body {
  font-family: "Aeonik Regular";
  background-color: #0c0a14;
  background-image: url("../assests/images/background.png");
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--font-color-text);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }
.font-sora {
  font-family: Sora;
}
.font-inter {
  font-family: Inter;
}
.flex {
  display: flex;
}
img {
  width: 100%;
  height: 100%;
}
.inherit-width{
    width: inherit;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.text-sm {
  font-size: 14px;
}
.text-lg {
  font-size: 20px;
}
.text-xl {
  font-size: 24px;
}
.text-xxl {
  font-size: 40px;
}
.text-xxxl {
  font-size: 60px;
}
.vector-container {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 300px;
}
.font-primary {
    color: #cad1e9;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
/* navbar */

.nav {
  margin: 20px auto;
  padding: 12px;
  border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(15, 12, 23, 0.14);
backdrop-filter: blur(17px);
}
.nav-logo {
  font-family: "Source Code Pro";
  font-weight: 700;
  letter-spacing: -0.27px;
}
.nav-left {
    gap: 8px;
}
.nav-middle {
    gap: 24px;
}
.nav-button {
    background: #0c0a14;
    border: 1px solid transparent; 
    color: #cad1e9;
    padding: 10px 20px;
    border-radius: 12px; 
    background-clip: padding-box; 

    gap: 2px;
}
.nav-button::after {
    content: ''; 
    position: absolute;
    top: -1px; 
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1; 
    border-radius: 12px; 
    background: linear-gradient(to right, #090EDB, #8D1EA2);
}
.nav-right:hover {
    box-shadow: 
    -4px 0 10px 3px rgba(9, 14, 219, 0.4),  
        4px 0 10px 3px rgba(141, 30, 162, 0.4);
}
.nav-right {
    background: linear-gradient(to right, #FFFFFF14, #FFFFFF01);
    height: 100%;
    width: 100%;
    z-index: 2;
    border-radius: 12px;
    transition: box-shadow 0.3s ease-in-out; 
}


